* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  max-width: 100vw;
  height: fit-content;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  margin: 5vw auto;
  padding-top: 5vw;
  padding-bottom: 5vw;
  border: purple 0.5vw solid;
}
.card {
  width: 80%;
  height: fit-content;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: purple 1vw solid;
}
.lower-ellipse {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: fit-content;
}
.upper-ellipse {
  position: absolute;
  top: 0;
  left: 0;
  width: 87%;
  height: fit-content;
  z-index: 2;
}
.MSUB-logo {
  position: absolute;
  top: 2.5vw;
  width: 15vw;
  height: 15vw;
  z-index: 3;
}
.estd {
  position: absolute;
  top: 18.5vw;
  width: 10vw;
  height: auto;
  z-index: 3;
}
.accredit {
  position: absolute;
  top: 21.5vw;
  width: 23vw;
  height: auto;
  z-index: 3;
}
.foc {
  position: absolute;
  top: 25vw;
  width: 25vw;
  height: auto;
  z-index: 3;
}
.profile-photo {
  box-sizing: content-box;
  position: absolute;
  top: 32.5vw;
  width: 30vw;
  height: 30vw;
  z-index: 3;
  border-radius: 50%;
  border: rgb(128, 170, 233) solid 1.5vw;
}
.title {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 3.5vw;
  color: #0056d2;
  margin-top: 70vw;
}
.contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  gap: 2.5vw;
  margin-top: 3vw;
}
.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.key,
.value {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  font-family: "Roboto", sans-serif;
  font-size: 2.5vw;
}
.value {
  width: 60%;
}
.qr-code {
  margin-top: 3vw;
  width: 15vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2.5vw;
}
.qr-code img {
  width: 15vw;
  height: 15vw;
}
.status-text {
  margin: 10vw 0;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  font-size: 5vw;
}

@media (min-width: 700px) {
  .card-holder {
    margin: 2.5vw auto;
    padding: 0;
    padding-bottom: 2.5vw;
  }
  .status-text {
    margin: 2.5vw;
  }
  .profile-photo {
    top: 30vw;
  }
  .title {
    margin-top: 65vw;
  }
  .contents {
    margin-top: 2vw;
  }
  .qr-code {
    margin-top: 2vw;
  }
}

@media (min-width: 1000px) {
  body {
    height: 99vh;
    max-height: 100vh;
    padding: 0;
    overflow: hidden;
  }
  .card-holder {
    flex-direction: row;
    margin: 1.25vw auto;
    padding: 0.5vw;
    border: purple 0.25vw solid;
    justify-content: start;
    position: relative;
  }
  .card {
    width: 30%;
    margin: 0;
    margin-left: 1%;
    border: purple 0.5vw solid;
  }
  .MSUB-logo {
    width: 5vw;
    height: 5vw;
    top: 1vw;
  }
  .estd {
    top: 6vw;
    width: 3.5vw;
  }
  .accredit {
    top: 7vw;
    width: 8vw;
  }
  .foc {
    top: 7.75vw;
    width: 10vw;
  }
  .profile-photo {
    top: 10vw;
    width: 10vw;
    height: 10vw;
    border: rgb(128, 170, 233) solid 0.5vw;
  }
  .title {
    font-size: 1.5vw;
    margin-top: 21.5vw;
  }
  .contents {
    gap: 0.5vw;
    margin-top: 1vw;
    width: 70%;
  }
  .key,
  .value {
    font-size: 1vw;
  }
  .qr-code {
    margin-top: 1vw;
    width: 7.5vw;
    margin-bottom: 0.5vw;
  }
  .qr-code img {
    width: 5vw;
    height: 5vw;
  }
  .status-text {
    position: absolute;
    font-size: 2.5vw;
    top: 30%;
    left: 55%;
  }
}
